{% extends '::base.html.twig' %}

{% block title %}
    undpaul MarioKart
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/undpaulmariokart/css/style.css') }}" />
{% endblock %}

{% block body %}
    <h1>{% block page_title %} undpaul MarioKart {% endblock %}</h1>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
