{% extends '::base.html.twig' %}

{% block title%}
    undpaul MarioKart
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/undpaulmariokart/css/style.css') }}" />
{% endblock %}

{% block body %}
    <h1>undpaul MarioKart</h1>
{% endblock %}