<!DOCTYPE html>
<html>
<head>
    <title>MarioKart Tournament</title>
    {% stylesheets "@upmkBundle/Resources/public/css/style.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>
    <h1>MarioKart Tournament</h1>
    {% include "upmkBundle:Legacy:heats.html.twig" %}
    {% include "upmkBundle:Legacy:heats-result.html.twig" %}
</body>
</html>