{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block breadcrumbs %}
  {{ parent() }}
{% endblock %}

{% block page_title %}
  Tournaments
{% endblock %}

{% block content %}

  {% if players %}
    <ul>
      {% for player in players %}
        <li>
          {{ player.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="list-empty">No players available.</div>
  {% endif %}

{% endblock %}