{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block title%}
    MarioKart Tournament
{% endblock %}

{% block body %}
    <h1>MarioKart Tournament</h1>
    {% include "undpaulMarioKartBundle:Legacy:heats.html.twig" %}
    {% include "undpaulMarioKartBundle:Legacy:heats-result.html.twig" %}
{% endblock %}