<h1>This is a template</h1>

<div id="heats">
  {% for heat in heats %}
    <h2>Heat {{ loop.getID() }}</h2>

    <p>{{ heat.races|length }} races</p>

    {% for race in heat.races %}
      {% include "race.twig" %}
    {% endfor %}

  {% endfor %}
</div>
