<div class="heats">
  {% for heat in heats %}
  <div id="heat">
    <h2>Heat {{ heat.getID() }}</h2>

    <p>{{ heat.races|length }} races</p>

    {% for race in heat.races %}
      {% include "race.twig" %}
    {% endfor %}

  {% endfor %}
  </div>
</div>
