<!DOCTYPE html>
<html>
<head>
    <title>MarioKart Tournament</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>MarioKart Tournament</h1>
    {% include "heats.twig" %}
</body>
</html>