<div class="race">
  <h3>{{ race.getName() }}</h3>

  <table>
    <thead><tr>
      <th>Name</th>
      <th>P1</th>
      <th>P2</th>
    </tr></thead>
  {% for contestant in race.getContestants() %}
    <tr>
      <td>{{ contestant.getName() }}</td>
      <td> 0 </td>
      <td> 0 </td>
    </tr>
  {% endfor %}
  </table>
</div>
