{% extends 'undpaulMarioKartBundle::layout.html.twig' %}

{% block page_title %}
    Tournaments
{% endblock %}


{% block content %}

    {% if users %}
        <ul>
            {% for user in users %}
                <li>
                    {{ user.name }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="list-empty">No users available.</div>
    {% endif %}

{% endblock %}