@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700);

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background: #fff;
  padding: 40px;
  font-weight: 300;
  color: #4B4848;
  font-size: 1.2rem;
}

h1 {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  padding: 0;
  border-bottom: 5px solid #77B302;
  line-height: 4rem;
  margin: 0;
}

h2 {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0.25em 0;
}

h3 {
  font-weight: 400;
}

a {
  color: #3199D3;
  text-decoration: none;
}

.content {
  padding: 2em;
}

.game {
  clear: both;
  border-bottom: 2px solid #77B302;
  padding: 1rem 0;
}

.ranking th {
  font-weight: 300;
  color: #77B302;
  padding-right: 0.4em;
}
.ranking td {
  padding: 0.3em 0.5em 0;
}

.race {
  display: inline-block;
  margin-right: 2rem;
}

.bold {
  font-weight: 400;
}

sup {
  font-size: 0.75rem;
  color: gray;
}

a.action {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #3199D3;
  border-radius: 0.5em;
  padding: 0.2em;
  color: white;
}
a.action:hover {
  background: #77B302;
}
a.action--add:before {
  content: ' + ';
}
a.action--edit:before {
  content: ' / ';
}
a.action--remove:before {
  content: ' x ';
}
a.action.action--remove:hover {
  background: red;
}

/**
 * Forms
 */

label {
  margin-right: 1em;
}

label:after {
  content: ':';
}

.form-item-race {
  margin-bottom: 1em;
}

.form-item-race .label--race {
  font-size: 1.2em;
  font-weight: bold;
}

label.label--result-item {
  display: inline-block;
  width: 20%;
  text-align: right;
}


.flash-notice {
  padding: 1em;
  margin: 1em;
  border: 1px solid #77B302;
  color: #77B302;
}

.breadcrumbs > * {
  margin-right: 1em;
}