{% extends 'undpaulMarioKartBundle::layout.html.twig' %}


{% block title 'Tournaments' %}
{% block page_title 'Tournaments' %}

{% block content %}

    {% if tournaments %}
        <ul>
            {% for tournament in tournaments %}
                <li>{{ tournament.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="list-empty">No tournaments available.</div>
    {% endif %}

{% endblock %}